<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductID</key>
	<string>com.fiveplayapps.CORONAlert.AllLocations</string>
	<key>RapidAPIKey</key>
	<string>4a1e17d40cmshcc56ad424353745p1b0a3ejsnfc95f916f5fc</string>
</dict>
</plist>
